<!-- Bootstrap Form with validation -->
<div class="container form-container">
    <h1 style="text-align: center;" highlight>Login Form</h1>
    <div *ngIf="message!=''" class="alert alert-danger" role="alert">
      {{message}}
    </div>
    <form  class="form-validate" novalidate [formGroup]="loginForm" (ngSubmit)="onSubmit(loginForm)">
    
     <div class="form-row">
     <div class="col-sm-3"></div>
        <!-- Email -->
       <div class="col-sm-6">
        <div class="form-group">
          <label for="email">Email address</label>
          <input type="email" class="form-control" name="email" id="email" formControlName="email"
          aria-describedby="emailHelp" inputformator>
          <small *ngIf="hasError('email')" [class]="hasError('email') ? 'has-error' :''">
            <div *ngIf="email?.errors">
                <span *ngIf="email?.errors?.['required']">Email is a required field</span>
                <span *ngIf="email?.errors?.['minlength']">Email is a min 6 char long field</span>
                <span *ngIf="email?.errors?.['maxlength']">Email is a max 20 char long field</span>
                <span *ngIf="email?.errors?.['email']">Please enter a valid email address</span>
            </div>
          </small>
        </div>
       </div>
       <div class="col-sm-3"></div>
    </div>
    <div class="form-row">
        <div class="col-sm-3"></div>
       <!-- Password -->
       <div class="col-sm-6">
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" class="form-control" name="password" id="password" formControlName="password"  aria-describedby="passwordHelp" >
          <small *ngIf="hasError('password')" [class]="hasError('password') ? 'has-error' :''">
            <div *ngIf="password?.errors">
                <span *ngIf="password?.errors?.['required']">Password is a required field</span>
                <span *ngIf="password?.errors?.['minlength']">Password is a min 6 char long field</span>
                <span *ngIf="password?.errors?.['maxlength']">Password is a max 15 char long field</span>
            </div>
          </small>
        </div>
       </div>
       <div class="col-sm-3"></div>
     </div>

     <div class="form-row">
        <div class="col-sm-3"></div>
        <div class="form-group col-sm-6">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" id="rememberme"  name="rememberme"  formControlName="rememberme" >
            <label class="form-check-label" for="rememberme">
             Remember me !
            </label>
            <small *ngIf="hasError('rememberme')" [class]="hasError('rememberme') ? 'has-error' :''">
              <div *ngIf="rememberme?.errors">
                  <span *ngIf="rememberme?.errors?.['required']"> Please check this for rememberme conditions!</span>
              </div>
            </small>
          </div>
        </div>
        <div class="col-sm-3"></div>
      </div>

    <div class="row">
      <div class="col-3"></div>
      <div class="col-6">
        <button type="submit" class="btn btn-info btn-block" >Submit</button>
      </div>
      <div class="col-3"></div>
    </div>
    </form>
  </div>