<div class="container mt-5">
    <div class="card-deck" *ngIf="products.length > 0 else noProduct ">
        <div class="card" *ngFor="let product of products">
          <!-- <img src="..." class="card-img-top" alt="..."> -->
          <div class="card-body">
            <h5 class="card-title" [ngStyle]="{'color':'brown' }">{{product.id | number:'1.1-2' }} - {{ (product.name | quotestext) | uppercase }}</h5>
            <p class="card-text">Desc : {{product.description | summarytext : 50}}</p>
            <p class="card-text" [ngClass]="(product.price == 0 ) ? 'style-three' : ''" >Price : {{product.price | currency:'INR'}}</p>
          </div>
          <div class="card-footer">
            <small class="text-muted" >Last updated 3 mins ago - {{currentDateTime | date :'dd/MMM/yyyy'}}</small> <br>
              <a (click)="onEdit(product)" class="badge badge-danger mr-2">Edit</a>
              <a (click)="onDelete(product.id)"class="badge badge-warning">Delete</a>
          </div>
        </div>
    </div>
    <!-- <div class="card-deck" *ngIf="products.length == 0 ">
      <p>Product List is empty No Product found</p>
    </div> -->
    <ng-template #noProduct>
      <p class="alert alert-warning">Product List is empty No Product found</p>
    </ng-template>
</div>

<nav class="mt-5">
  <div class="nav nav-tabs" id="nav-tab" role="tablist">
    <a class="nav-link active" id="nav-home-tab" data-toggle="tab" (click)="viewMode='default'" role="tab" aria-controls="nav-home" aria-selected="true">Default</a>
    <a class="nav-link" id="nav-profile-tab" data-toggle="tab"  (click)="viewMode='list'" role="tab" aria-controls="nav-profile" aria-selected="false">List</a>
    <a class="nav-link" id="nav-contact-tab" data-toggle="tab"  (click)="viewMode='map'" role="tab" aria-controls="nav-contact" aria-selected="false">Map</a>
  </div>
  <div class="tab-content" id="nav-tabContent" [ngSwitch]="viewMode">
    <div class=" active" *ngSwitchCase="'default'" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
      The default data here.
    </div>
    <div class="" id="nav-profile" role="tabpanel" *ngSwitchCase="'list'" >
      The List data here.
    </div>
    <div class="" id="nav-contact" role="tabpanel" *ngSwitchCase="'map'">
      The Map data here.
    </div>
  </div>
</nav>